<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" routerLink="home"></mat-icon>
        </button>
        <span [highlight]="''">FunBook</span>
        <span class="example-spacer"></span>

        <span>
            options
        </span>
        <mat-form-field class="lang">
            <mat-label>language</mat-label>
            <mat-select>
                <mat-option *ngFor="let lang of language" [value]="lang">
                    {{lang}}
                </mat-option>
            </mat-select>
        </mat-form-field>




        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>